@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Escola Infantil - Pandorga</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/ico.png" />
  <!-- Link Font Awesome (ícones)  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- Link CSS  -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/break-points.css">
  
  <!-- CDN Slick  -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="js/script.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <div class="container-fluid top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="contact-details float-left">
                        <li><a class="top-text" target="blank" href="https://maps.app.goo.gl/3TxYviVWN1G23n2G8"><i class="fa fa-map-marker-alt top-icon"></i>R. Comend. Rodolfo Gomes, 703 Menino Deus / Porto Alegre</a></li>
                        <li><a class="top-text" target="blank" href=""><i class="fa fa-envelope  top-icon"></i>direcao@pandorga.com.br</a></li>
                        <li><a class="top-text" target="blank" href=""><i class="fa fa-phone  top-icon"></i>(51) 3212-2918</a></li>
                        <li><a class="top-text" target="blank" href=""><i class="fa fa-mobile  top-icon"></i>(51) 99999.0000</a></li>
                        <li class="list-inline-item margin-first"><a title="facebook" target="blank" href="https://www.facebook.com/pandorgaescola/"><i class="fab fa-facebook-f top-icon social-icon"></i></a></li>
                        <li class="list-inline-item "><a title="instagram" target="blank" href="https://www.instagram.com/pandorgaescola/"><i class="fab fa-instagram top-icon social-icon"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  <!-- header section starts  -->
  <header>
    <a href="#home" class="logo">
      <h1 class="logo1"><span>Pandorga</span></h1>
      <!-- <img src="images/logo.webp" alt=""> -->
    </a>
    <nav>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li class="menu-yellow"><a href="#home">início</a></li>
        <li class="menu-red"><a href="#servicos">atividades</a></li>
        <li class="menu-blue"><a href="#fotos">galeria</a></li>
        <li class="menu-green"><a href="#contato">contato</a></li>
        <li class="menu-white"><a href="https://localhost:7293/Identity/Account/Login">Login</a></li>
      </ul>
    </nav>
  </header>
  <!-- header section ends -->

  <!-- home section starts  -->
  <section class="home" id="home">
    <div class="conteudo">
      <h1>Escola de Educação Infantil <span>Pandorga</span></h1>
      <p>
        Aqui a criança é a protagonista do seu aprendizado e a partir das situações do cotidiano, aprende sobre si, sobre o outro e sobre o mundo.
      </p>
      <div class="buttons">
        <a target="blank" href="https://www.facebook.com/pandorgaescola/" id="face" class="botao">
          <i class="fab fa-facebook"></i></a>
        <a target="blank" href="https://web.whatsapp.com" id="whats" class="botao">
          <i class="fab fa-whatsapp"></i></a>
        <a target="blank" href="https://www.instagram.com/pandorgaescola/" id="insta" class="botao">
          <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="imagehome">
      <img src="images/pandorga.png" alt="Pandorga">
    </div>
  </section>
  <div class="matriculas" style="width:100%;">
    <button class="button">


      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
      </svg>
    
      
      <div class="text">
        <a href=" ">Matrículas Abertas!</a>
      </div>
    
    </button>
  </div>
  <!-- home section ends -->

  <section id="servicos">
    <div class="container">

        <div class="section-header">
            <h2 class="heading">Atividades</h2>
            <p class="subtitle">Promover a interação entre nossas crianças através do uso de atividades lúdicas e artísticas promovendo seu desenvolvimento.</p>
        </div>

        <div class="row">
            <div class="features">
                 <div class="col-md-4 col-sm-6 wow bounceInUp fadeInUp animated">
                    <div class="info1">
                        <div class="info2">
                            <i class="fa fa-music"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Música</h4>
                            <p>Os alunos desenvolvem o vocabulário, a noção de ritmo, além de ser um momento de muita diversão.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="info1">
                        <div class="info2">
                            <i class="fa fa-language"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Inglês</h4>
                            <p>As aulas de Inglês dirigidas pela Escola Infantil Pandorga, são pautadas nas descobertas e na brincadeira.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="info1">
                        <div class="info2">
                            <i class="fa fa-clipboard"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Acompanhamento Psicológico</h4>
                            <p>Auxiliar no desenvolvimento psicossocial das crianças no contexto educacional, incluindo a pré-escola</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="info1">
                        <div class="info2">
                            <i class="fa fa-paint-brush"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Interação com artes</h4>
                            <p>Participação das crianças na preparação dos alimentos e desenvolver sua criatividade, expressando em cada arte.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="info1">
                        <div class="info2">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Capoeira</h4>
                            <p>Ajuda no desenvolvimento motor e de integração, aprimorando o controle emocional e estimulando a observação.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->



                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="info1">
                        <div class="info2">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Hora do Conto</h4>
                            <p>Possibilita que as crianças desfrutem deste momento mágico com alegria e assim despertem o gosto natural pela leitura.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section>

  <!-- servicos section starts  -->
  <!-- <section class="servicos" id="servicos">
    <h2 class="heading">serviços</h2>
    <div class="box-container">
      <article class="box">
        <img src="images/children.svg" alt="picture 1">
        <h3>Inglês</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, et inventore. Repellendus quaerat, odio sit
          enim in consequatur inventore qui vitae?</p>
        <a href="#" class="btn">saiba mais</a>
      </article>
      <article class="box">
        <img src="images/family.svg" alt="picture 2">
        <h3>Música</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, et inventore. Repellendus quaerat, odio sit
          enim in consequatur inventore qui vitae?</p>
        <a href="#" class="btn">saiba mais</a>
      </article>
      <article class="box">
        <img src="images/toy.svg" alt="picture 3">
        <h3>Didática</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, et inventore. Repellendus quaerat, odio sit
          enim in consequatur inventore qui vitae?</p>
        <a href="#" class="btn">saiba mais</a>
      </article>
    </div>
  </section> -->
  <!-- servicos section ends -->
  <!-- <section class="depoimentos" id="depoimentos">
    <h2 class="heading">depoimentos</h2>
    <div class="box-container-depoimentos">
      <article class="depoimento">
        <h3>Priscila S.</h3>
        <div class="stars">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
        </div>
        <p>Digo e reforço diariamente o quanto a Escola Pandorga e suas profissionais foram um divisor de águas na vida do nosso filho. Ele está feliz, falante, aprendendo coisas novas diariamente. Cuidem pessoas  que insistem em difamar a escola e suas profissionais. Nem sempre os relatos são de fato verdade . Conheçam pessoalmente e irão se apaixonar ❤️</p>
      </article>
      <article class="depoimento">
        <h3>Paola H.</h3>
        <div class="stars">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
        </div>
        <p>O que mais me admira na escola é que TODOS os profissionais conhecem as caracteristicas de todas as crianças. O jeitinho único de cada um. E a escola proporciona um espaço seguro e acolhedor para todos. Tivemos um avanço incrível de socialização desde que minha filha começou a frequentar a Pandorga. Eu super recomendo 💜 parabéns à toda equipe!!! Continuem com essa excelência em atendimento!!!!</p>
      </article>
      <article class="depoimento">
        <h3>Patricia L.</h3>
        <div class="stars">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
          <img src="images/star.svg" alt="picture 1">
        </div>
        <p>Passamos pelo processo de acolhimento, e foi muito especial.Fomos acompanhados pela psicóloga e toda a Equipe o que tornou esse momento que para nós era o mais difícil muito tranquilo. Nossa filha chega alegre e pede para ir a Escola o que deixa nossos corações tranquilo. Temos acesso a todos os ambientes da Escola e sempre que surge uma dúvida, a equipe está disponível para nos atender, o que faz tira a diferença quando nossos filhos são pequenos.</p>
      </article>
    </div>
  </section> -->

  <!-- fotos section starts  -->
  <section class="fotos" id="fotos">
    <h2 class="title-fotos">GALERIA</h2>
    <div class="slick-carousel responsive">
      <div><img src="images/patio.jpg" alt="Imagem 1"></div>
      <div><img src="images/escola.jpg" alt="Imagem 2"></div>
      <div><img src="images/placa.jpg" alt="Imagem 3"></div>
      <div><img src="images/patio.jpg" alt="Imagem 4"></div>
      <div><img src="images/escola.jpg" alt="Imagem 5"></div>
      <div><img src="images/3.png" alt="Imagem 6"></div>
      <!-- Adicione mais divs conforme necessário -->
    </div>
  </section>
  <!-- fotos section ends  -->



  <!-- contato section starts -->
  <section class="contato" id="contato">
    <h2 class="heading">Fale Conosco</h2>
    <div class="contact-in">
      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.3497065753745!2d-51.2234714!3d-30.0555089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951979e3d2c695c3%3A0x429368f153256109!2sEscola%20de%20Educa%C3%A7%C3%A3o%20infantil%20Pandorga%20-%20Escola%20infantil%20Menino%20Deus%2C%20creche%2C%20Porto%20Alegre!5e0!3m2!1spt-BR!2sbr!4v1703618779455!5m2!1spt-BR!2sbr"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="contact-form">
        <h3 class="heading">deixe sua mensagem</h3>
        <form name="cadascontact-form {
          /* flex: 100%; */
          width: 100%;
          text-align: center;
          background: #fff;
          padding: 2rem 2rem;
          border: 0.1rem solid rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      }tro" action="cadastro.html" method="POST">
          <input type="text" placeholder="nome" name="nome" required />
          <input type="email" placeholder="e-mail" name="email" required />
          <input type="tel" placeholder="telefone" required />
          <textarea required placeholder="mensagem" name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
          <input class="botao" type="submit" value="Enviar" />
        </form>
      </div>
    </div>
  </section>
  <!-- contato section ends -->

  <section class="servicos2">
    <div class="cta_text">
      <h2 class="heading">Aplicativo</h2>
      <h3 class="app-subtitle">O seu filho(a) já é aluno(a)? Aproveite para fazer o download do aplicativo!</h2>
      <div class="app">
        <a href="https://apps.apple.com/br/app/minha-escola/id1212145096" target="_blank" class="cta_img_download">
            <img src="images/app-store.png" class="cta_area-download mr-30" alt="phone">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.we3.me&hl=pt-br" target="_blank" class="cta_img_download">
            <img src="images/google-play.png" class="cta_area-download" alt="phone">
        </a>
    </div>
  </div>
  </section>

  <!-- footer section starts  -->
  <footer>
    <div class="box-container">
      <div class="box purpose">
        <h2>Propósito</h2>
        <p>
          Melhorar a qualidade da aprendizagem e contribuir para o desenvolvimento de nossas crianças.
        </p>
      </div>
      <div class="box links">
        <h4>Links Rápidos</h4>
        <ul>
          <li><a href="#home">Início</a></li>
          <li><a href="#servicos">serviços</a></li>
          <li><a href="#fotos">galeria</a></li>
          <li><a href="#contato">contato</a></li>
        </ul>
      </div>
      <div class="box social">
        <h4>Redes Sociais</h4>
        <ul>
          <li>
            <a target="blank" href="https://www.facebook.com/pandorgaescola/">facebook</a>
          </li>
          <li>
            <a target="blank" href="https://www.instagram.com/pandorgaescola/">instagram</a>
          </li>
          <li>
            <a target="blank" href="https://br.pinterest.com">Whatsapp</a>
          </li>
        </ul>
      </div>
      <address class="box contact">
        <p class="title">Contatos</p>
        <div class="info">
          <a target="blank" href="tel:+555132122918"> <i class="fas fa-phone"></i></a>
          <p>(51) 3212-2918</p>
        </div>
        <div class="info">
          <a target="blank" href="mailto:exemplo@gmail.com?subject=Hello%20again">
            <i class="fas fa-envelope"></i></a>
          <p>pandorga@gmail.com</p>
        </div>
        <div class="info">
          <a target="blank" href="https://maps.app.goo.gl/3TxYviVWN1G23n2G8"><i class="fas fa-map-marker-alt"></i></a>
          <p>
            R. Comend. Rodolfo Gomes, 703 Menino Deus / Porto Alegre - RS
          </p>
        </div>
      </address>
    </div>
    <div class="footer-social">
      <a target="blank" href="https://www.facebook.com/pandorgaescola/" id="face" class="botao">
        <i class="fab fa-facebook"></i></a>
      <a target="blank" href="https://web.whatsapp.com" id="whats" class="botao">
        <i class="fab fa-whatsapp"></i></a>
      <a target="blank" href="https://www.instagram.com/pandorgaescola/" id="insta" class="botao">
        <i class="fab fa-instagram"></i></a>
    </div>
    <div class="copy">
      <p>© 2024 E. de E. I. Pandorga, todos os direitos reservados.</p>
  </div>
  </footer>
  <!-- footer section ends -->

  <script>
    $(document).ready(function () {
   $('.slick-carousel').slick({
     Infinity: true,
     dots: true,
     slidesToShow: 3,
     responsive: [
       {
         breakpoint: 991,
         settings: {
           arrows: false,
           slidesToShow: 2
         }
       },
       {
         breakpoint: 480,
         settings: {
           arrows: false,
           slidesToShow: 1
         }
       }
     ],
     prevArrow: '<button type="button" class="slick-prev">Previous</button>',
     nextArrow: '<button type="button" class="slick-next">Next</button>'
   });
 });
  </script>
</body>

</html>