@{
    ViewData["Title"] = "Relatório de Alunos";
    var totalAlunos = ViewData["TotalAlunos"];
    var mediaIdade = ViewData["MediaIdade"];
}

<h1>Relatório de Alunos</h1>

<h6>Total de Alunos: @totalAlunos</h6>

<h6>Idade Média dos Alunos: @mediaIdade anos</h6>

